img {
    width: 200px;
}

#imageContainer > div {
    margin: 15px;
}

#imageContainer {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.product {
    border: 1px solid;
}
h2 {
    color: red;
}